.style-from{
    width:275px;
    height:230px;
    background-color: rgb(25, 25, 25);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px
    
}
.ghj{
    width:275px;
    height:154px;
    border-radius: 20px;
}
.drippy{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;

    width:80%;
    margin-left:100px;  
    

}
.style-from button{
    width:40px;
    height:20px;
    background-color:rgb(39, 39, 39) ;
    border:none;
    position:relative;
    font-size: 10px;
    border-radius: 14px;
}
.style-from button p{
    color:rgb(86, 85, 85);
    position: absolute;
}
.dripp{
    width:100%;
    height:200vh;
    background-color: rgb(25, 25, 25);
    display:flex;
    flex-direction: column;
    
    align-items: center;
}
.skip-title{
    display:flex;
    justify-content: center;
    font-size: 14px;
    margin-top:10px;
}
.style-from button{
    width:10px;
    height:3px
    
}
.skip-title img{
    width:36px;
    height:36px;
    border-radius: 50%;
    margin-right:10px
}
.title{
    color:white;
    font-size:14px;
}


.input-button{
    width:1000px;
    height:100px;
    display:flex;
    justify-content:start;
    gap:50px;
   
    align-items: center;
}
.input-button input{
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
    
    border:0.1px solid white;
    width:120px;
    height:30px;
    color:silver;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight:300;
    font-size:12px

}
.bolog{
    background-color: rgb(35, 35, 35);
    border-radius: 7px;
    border: none;
    border:0.1px solid rgb(112, 112, 112);
    color:rgb(77, 77, 77);
    width:90px;
    height:20px;
    background-color: rgb(48, 48, 48);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight:600;
    font-size:13.5px;
    

    
}
.bolog123{
    background-color: rgb(35, 35, 35);
    border-radius: 7px;
    border: none;
    border:0.1px solid rgb(112, 112, 112);
    color:rgb(77, 77, 77);
    width:90px;
    height:20px;
    background-color: rgb(48, 48, 48);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight:600;
    font-size:13.5px;

}
/* #puubisd{
    width:100px;
    height:30px;
    background-color: red;
} */
.input-button button{
    background-color: rgb(35, 35, 35);
    border-radius: 7px;
    border: none;
    border:1px solid white;
    color:rgb(164, 164, 164);
    width:60px;
    height:30px;
    background-color: rgb(32, 32, 32);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight:400;
    font-size:15px
}
.container_title-channel-date img{
    width:14px;
    height:14px;
    background-color: rgba(255, 255, 255, 0.307);
    border-radius: 50%;
}
.channal{
    font-size:13px;
    color:rgb(156, 156, 156);
    font-weight: 500;
}
.datar{
    font-size:10px;
    color:rgb(139, 139, 139);
    font-weight: 500;
    margin-top:2px;
}
.channel{
    display:flex;
    width:135px;
    height:18px;
    
    align-items:center;
  
}
.cahnnel img{
    width:14px;
    height:14px;

}